body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  min-height: 600px;
}
#home {
  background-color: rgba(52, 187, 255, 0.49);
  height: 100%;
  width: 100%;
}
#root {
  height: 100%;
  width: 100%;
}
h1 {
  margin: 0;
  padding: 20px;
  padding-top: 40px;
  height: 50px;
  text-align: center;
  color: white;
}
#component {
  height: calc(100% - 90px);
  display: flex;
  justify-content: center;
} 