#robot-component {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 80%;
  min-width: 832px;
  min-height: 510px;
  background-color: #e1e6e6;
  border-radius: 20px;
}
#left-panel {
  width: 322px;
}
#right-panel {
  width: calc(100% - 322px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 510px;
}
#user-controls {
  border: solid gray 1px;
  padding: 40px;
  background-color: white;
  width: 239.76px;
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 0;
  margin: 0;
}
#name, #type, #background, .dimension {
  padding-top: 10px;
  padding-bottom: 10px;
}
#name label {
  padding-right: 21.58px;
}
#name input {
  width: 173.51px;
  padding: 0;
  border-width: 1px;
  text-align: center;
}
#type label {
  padding-right: 29.57px;
}
#type select {
  width: 175.5px;
  text-indent: 75px;
}
#width {
  padding-right: 23.341px;
}
#height {
  padding-right: 18px;
}
.dimension {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dimension-controls {
  border: solid transparent 1px;
}
#background label {
  padding-right: 10px;
}
#background select {
  width: 144.38px;
  text-indent: 60px;
}